.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rbc-row-segment {
  display: flex;
  flex-direction: column; /* Adjust as needed */
  height: 100%; /* Allow full height */
}

.rbc-row {
  height: auto; /* Adjust as needed */
}
.rbc-event {
  display: flex; /* Ensure flex layout for inner content */
  flex-direction: column; /* Stack items vertically */
  height: 100%; /* Make sure it takes full height */
  justify-content: space-between; /* Distribute space evenly */
}

.rbc-event-content {
  height: 100%; /* Ensure full height for content */
  display: flex; /* Allow flexbox properties */
  flex-direction: column; /* Stack items */
}
